.input-container {
  width: 100%;
  background-color: rgb(124, 196, 196);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

input[type="file"]::file-selector-button {
  border: 2px solid black;
  padding: 2rem;
  border-radius: 0.5em;
  background-color: transparent;
  transition: 0.5s;
  font-weight: 600;
  font-size: 2rem;
}

input[type="file"]::file-selector-button:hover {
  background-color: #03ad9f;
  border: 2px solid #000000;
}

label {
  margin-right: 3rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5em;
  font-weight: 800;
  transition: 0.5s;
}

label:hover {
  background-color: #03ad9f;
  border: 2px solid #000000;
}

button {
  border: 2px solid black;
  padding: 1.3em 1.4em;
  border-radius: 0.5em;
  background-color: transparent;
  transition: 0.5s;
  font-weight: 600;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
